@using Domain.Enums
@model Domain.DTO.Amenity.AmenityResponse

@{
    ViewData["Title"] = "Delete";
}

<h3>Xác nhận xóa tiện nghi</h3>

<a asp-action="Index" class="btn btn-outline-primary mt-3 mb-3">
    Quay lại
</a>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên tiện nghi</label>
                <input asp-for="Name" class="form-control" disabled />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Deleted" class="control-label">Đã xóa</label>
                <input asp-for="Deleted" class="form-control" />
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DeletedTime" class="control-label">Thời gian xóa</label>
                <input asp-for="DeletedTime" class="form-control" />
                <span asp-validation-for="DeletedTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
