@using Domain.Enums
@using View.Views.Shared.Helper
@model Domain.DTO.Amenity.AmenityResponse

@{
    ViewData["Title"] = "Edit";
}

<h3>Chỉnh sửa tiện nghi</h3>

<a asp-action="Index" class="btn btn-outline-primary mt-3 mb-3">
    Quay lại
</a>

<div class="row">
    <form asp-action="Edit" class="row mt-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>

        <div class="col-md-6">
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label1">Tên tiện nghi</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Status" class="control-label1">Trạng thái</label>
                <select name="status" class="form-select" id="status">
                    <option disabled>-- Chọn trạng thái --</option>
                    @foreach (var status in Enum.GetValues(typeof(EntityStatus)))
                    {
                    var statusEnum = (EntityStatus)status;
                    <option value="@((int)statusEnum)" selected="@(Context.Request.Query["status"].ToString() == ((int)status).ToString())">
                        @StatusHelper.DisplayNameEntityStatus(statusEnum)
                    </option>
                    }
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label1">Mô tả</label>
                <textarea asp-for="Description" class="form-control w-100" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Cập nhật" class="button1 button-warning"/>
        </div>
    </form>
</div>




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}