@using Domain.DTO.Paging
@using View.Models.Paging
@model ResponseData<Domain.Models.Staff>

@{
    ViewData["Title"] = "Index";
}
<form class="form-inline d-flex justify-content-between mt-5">
    <input class="form-control" type="search" style="max-width:90%" placeholder="Tìm kiếm" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
</form>
<div class="pt-2">
    <button class="btn btn-primary" onclick="_staff.LoadForm()">Thêm nhân viên<i class="fa-regular fa-user-plus"></i></button>
</div>
<div id="ListStaff">
</div>

@section scripts {
    <script asp-append-version="true" src="/modules/Staff.js"></script>
}
