@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - View</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <style>
        .fixed-notification {
            position: fixed;
            top: 60px; /* Khoảng cách từ đỉnh màn hình */
            right: 10px; /* Khoảng cách từ bên trái màn hình */
            padding: 10px;
            min-width: 350px;
            text-align: left;
            z-index: 9999; /* Đảm bảo nó hiển thị trên các phần tử khác */
        }
    </style>
    @RenderBody()
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-append-version="true" src="~/modules/constant.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/modules/constant.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>