@{
    Layout = null;
}
<div class="" style="width:270px;background-color:#212529">
    <ul class="p-4 list-unstyled">
        <li class=""><a class="fs-5" href="/">Home</a></li>
        <li class=""><a class="fs-5" href="/new">Quản lí khách hàng</a></li>
        <li class=""><a class="fs-5" href="/livecameras">Quản lí quyền</a></li>
        <li class=""><a class="fs-5" href="/photo">Photos</a></li>
        <li class=""><a class="fs-5" href="/contact">Contact</a></li>
    </ul>
</div>
