@{
    Layout = null;
}
<div class="" style="width:270px;background-color:#262936">
    <ul class="p-4 list-unstyled">
        <li class=""><a class="fs-5" href="/">Home</a></li>
        <li class=""><a class="fs-5" href="/amenity">amenity</a></li>
        <li class=""><a class="fs-5" href="/amenityroom">amenityroom</a></li>
        <li class=""><a class="fs-5" href="/building">building</a></li>
        <li class=""><a class="fs-5" href="/customer">customer</a></li>
        <li class=""><a class="fs-5" href="/floor">floor</a></li>
        <li class=""><a class="fs-5" href="/post">post</a></li>
        <li class=""><a class="fs-5" href="/posttype">postype</a></li>
        <li class=""><a class="fs-5" href="/role">role</a></li>
        <li class=""><a class="fs-5" href="/room">room</a></li>
        <li class=""><a class="fs-5" href="/roombooking">roombooking</a></li>
        <li class=""><a class="fs-5" href="/roomtype">roomtype</a></li>
        <li class=""><a class="fs-5" href="/roomtypeservice">roomtypeservice</a></li>
        <li class=""><a class="fs-5" href="/service">service</a></li>
        <li class=""><a class="fs-5" href="/serviceorder">serviceorder</a></li>
        <li class=""><a class="fs-5" href="/serviceorderdetail">serviceorderdetail</a></li>
        <li class=""><a class="fs-5" href="/servicetype">servicetype</a></li>
        <li class=""><a class="fs-5" href="/staff">staff</a></li>
        <li class=""><a class="fs-5" href="/voucher">voucher</a></li>
        <li class=""><a class="fs-5" href="/voucherdetail">voucherdetail</a></li>
    </ul>
</div>
