@{
    Layout = null;
}
<style>
    .menu-option
    {
        color:#FFF;
    }
    .menu-option:hover
    {
        color: #009ad8;
    }
</style>
<div class="" style="width:270px;background-color:#262936">
    <ul class="p-4 list-unstyled">
        <li class="">
            <a class="fs-5" href="/">
                <h2>
                    Continetal
                </h2>
            </a>
        </li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/Staff">Quản lí khách hàng</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/livecameras">Quản lí quyền</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/photo">Photos</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/contact">Contact</a></li>
        <li class=""><a class="fs-5" href="/">Home</a></li>
        <li class=""><a class="fs-5" href="/amenity">amenity</a></li>
        <li class=""><a class="fs-5" href="/amenityroom">amenityroom</a></li>
        <li class=""><a class="fs-5" href="/building">building</a></li>
        <li class=""><a class="fs-5" href="/customer">customer</a></li>
        <li class=""><a class="fs-5" href="/floor">floor</a></li>
        <li class=""><a class="fs-5" href="/post">post</a></li>
        <li class=""><a class="fs-5" href="/posttype">postype</a></li>
        <li class=""><a class="fs-5" href="/role">role</a></li>
        <li class=""><a class="fs-5" href="/room">room</a></li>
        <li class=""><a class="fs-5" href="/roombooking">roombooking</a></li>
        <li class=""><a class="fs-5" href="/roomtype">roomtype</a></li>
        <li class=""><a class="fs-5" href="/roomtypeservice">roomtypeservice</a></li>
        <li class=""><a class="fs-5" href="/service">service</a></li>
        <li class=""><a class="fs-5" href="/serviceorder">serviceorder</a></li>
        <li class=""><a class="fs-5" href="/serviceorderdetail">serviceorderdetail</a></li>
        <li class=""><a class="fs-5" href="/servicetype">servicetype</a></li>
        <li class=""><a class="fs-5" href="/staff">staff</a></li>
        <li class=""><a class="fs-5" href="/voucher">voucher</a></li>
        <li class=""><a class="fs-5" href="/voucherdetail">voucherdetail</a></li>
    </ul>
</div>
