@{
    Layout = null;
}
<style>
    .menu-option
    {
        color: #92979d;
        text-decoration :none;
    }

    .menu-scroll {
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 100vh;
    }
    .liv1{
        padding:25px 0 0px 0;
    }

    .liv2 {
        padding: 20px 0 0px 0;
    }

    .spanv1{
        font-weight:600;
    }

    ::-webkit-scrollbar {
        width: 10px; /* Độ rộng thanh cuộn */
    }

    ::-webkit-scrollbar-thumb {
        background: #888; /* Màu phần kéo */
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Màu nền */
    }
</style>
<div class="menu-scroll" style="width:17%;background-color:#fff;position:fixed">
    <ul class="p-4 list-unstyled">
        <li class="">
            <a class="fs-5 text-decoration-none" href="/">
                <h2 class="menu-option m-0">
                    Continetal
                </h2>
            </a>
        </li>
        <hr class="m-0" />
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/Staff">Quản lí khách hàng</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/livecameras">Quản lí quyền</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/photo">Photos</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/contact">Contact</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/">Home</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/amenity">amenity</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/amenityroom">amenityroom</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/building">building</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/customer">customer</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/floor">floor</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/post">post</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/posttype">postype</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/role">role</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/room">room</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/roombooking">roombooking</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/roomtype">roomtype</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/roomtypeservice">roomtypeservice</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/service">service</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/servicetype">servicetype</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/staff">staff</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/serviceorder">serviceorder</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/serviceorderdetail">serviceorderdetail</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/voucher">voucher</a></li>
        <li class="li-option p-1 ps-0"><a class="fs-5 menu-option" href="/voucherdetail">voucherdetail</a></li>
    </ul>
</div>
