<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - View</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" /> *@
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/js/font-fontawesome-ae333ffef2.js"></script>
</head>
<body>
    <style>
        .fixed-notification {
            position: fixed;
            top: 60px; /* Khoảng cách từ đỉnh màn hình */
            right: 10px; /* Khoảng cách từ bên trái màn hình */
            padding: 10px;
            min-width:350px;
            text-align:left;
            z-index: 9999; /* Đảm bảo nó hiển thị trên các phần tử khác */
        }

        .Layout-scroll{
            overflow-y: scroll;
            scroll-behavior: smooth;
            max-height: 100vh;
        }

        .bar-css{
            height: 55px;
            width: 100%;
            background-color: #fff;
            position: fixed;
            top: 0px;
            max-width: 1289px;
            z-index: 100
        }

        #acc_dashboard {
            color: #073a4b;
            cursor: pointer;
        }

        .show_dashboard{
            transform: rotate(180deg);
        }
    </style>
    <div class="d-flex ">
        <partial name="_header" />

        <div class="container-fluid p-0" style="width:83%;margin-left:17%">
            <main role="main" class="pb-3" style="background-color:#f8f9fa;min-height:100vh">
                <div class="d-flex align-items-center ps-1 bar-css" style="box-shadow:0px 0px 3px;width:100%">
                    <div class="d-flex align-items-center justify-content-end" style="width:97%;">
                        <div id="acc_dashboard" onclick="global.Account_DashBoard()">
                            <i id="icon_up_dashboard" class="fa-solid fa-caret-down"></i>
                            <span class="fw-bold">Tài khoản</span>
                            <i class="fs-4 fa-solid fa-user-gear"></i>
                        </div>
                        <div class="dashboard rounded-1 p-1" style="position:absolute;display:none;top:60px;background-color:#ffd167">
                            <p class="m-0 me-2" id="name_current_user" style="color:#484d54"></p>
                            <p class="me-4 mb-0" style="color:#484d54;cursor:pointer" onclick="_authorization.LogOut()" id="signout_button">Đăng xuất</p>
                        </div>
                    </div>
                </div>
                <div style="margin-top:65px;">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/select2/js/select2.js"></script>
    <script asp-append-version="true" src="~/modules/authorization.js"></script>
    <script asp-append-version="true" src="~/modules/constant.js"></script>
    <script asp-append-version="true" src="~/modules/global.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/daterangepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/script1.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
