<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - View</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <style>
        .fixed-notification {
            position: fixed;
            top: 60px; /* Khoảng cách từ đỉnh màn hình */
            right: 10px; /* Khoảng cách từ bên trái màn hình */
            padding: 10px;
            min-width:350px;
            text-align:left;
            z-index: 9999; /* Đảm bảo nó hiển thị trên các phần tử khác */
        }
    </style>
    <div class="d-flex" style="min-height:100vh">
        <partial name="_header" />

        <div class="container-fluid p-0">
            <div class="d-flex align-items-center ps-1" style="height:55px;width:100%;background-color:#262936">
                <div class="d-flex align-items-center justify-content-end" style="width:100%">
                    <p class="m-0" id="name_current_user"></p>
                    <button class="btn btn-outline-warning ms-3 me-2" onclick="_authorization.LogOut()" id="signout_button">Đăng xuất</button>
               </div>

            </div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/select2/js/select2.js"></script>
    <script asp-append-version="true" src="~/modules/authorization.js"></script>
    <script asp-append-version="true" src="~/modules/constant.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/daterangepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
