@model ViewClient.Models.DTO.Register.RegisterInputRequest

@{
    ViewData["Title"] = "User Registration";
}

<div class="page-content">
    <div class="form-v7-content">
        <div class="form-left">
            <img src="~/img/login.jpeg" alt="form">
            <p class="text-1">Đăng ký</p>
            <p class="text-2">Privaci policy & Term of service</p>
        </div>
        <form class="form-detail" asp-action="Register" asp-controller="Authoration" method="post" id="myform">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @Html.ValidationSummary(true, "", new { @class = "mb-0" })
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="form-row">
                <label for="username">Tài khoản</label>
                <input type="text" name="UserName" id="username" class="input-text" required>
                <span asp-validation-for="UserName" class="text-danger"></span>
              
            </div>
            <div class="form-row">
                <label for="phoneNumber">Số điện thoại</label>
                <input type="text" name="PhoneNumber" id="phoneNumber" class="input-text">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label for="email">Email</label>
                <input type="text" name="Email" id="email" class="input-text" aria-required="true" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label for="password">Mật khẩu</label>
                <input type="password" name="Password" id="password" class="input-text" aria-required="true" required>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-row-last">
                <button type="submit" class="btn btn-primary btn-block register">Đăng ký</button>
                <p>Or<a href="/login">Đăng nhập</a></p>
            </div>
        </form>
    </div>
</div>


@section scripts {
    <script asp-append-version="true" src="~/module/Register.js"></script>
}