@page "/live-cameras"
<main class="main-content">
	<div class="container">
		<div class="breadcrumb">
			<a href="index.html">Home</a>
			<span>Live cameras</span>
		</div>
	</div>

	<div class="fullwidth-block">
		<div class="container">
			<div class="filter">
				<div class="country filter-control">
					<label for="">Country</label>
					<span class="select control">
						<select name="" id="">
							<option value="">All Countries</option>
						</select>
					</span>
				</div>
				<div class="count filter-control">
					<label for="">Show per page</label>
					<span class="select control">
						<select name="" id="">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
							<option value="">5</option>
							<option value="">6</option>
							<option value="">7</option>
							<option value="">8</option>
							<option value="">9</option>
							<option value="">10</option>
						</select>
					</span>
				</div>
				<div class="quality filter-control">
					<label for="">Only high quality</label>
					<span class="select control">
						<select name="" id="">
							<option value="">Yes</option>
							<option value="">No</option>
						</select>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="live-camera">
						<figure class="live-camera-cover"><img src="images/live-camera-1.jpg" alt=""></figure>
						<h3 class="location">New York</h3>
						<small class="date">8 oct, 8:00AM</small>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="live-camera">
						<figure class="live-camera-cover"><img src="images/live-camera-2.jpg" alt=""></figure>
						<h3 class="location">Los Angeles</h3>
						<small class="date">8 oct, 8:00AM</small>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="live-camera">
						<figure class="live-camera-cover"><img src="images/live-camera-3.jpg" alt=""></figure>
						<h3 class="location">Chicago</h3>
						<small class="date">8 oct, 8:00AM</small>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="live-camera">
						<figure class="live-camera-cover"><img src="images/live-camera-4.jpg" alt=""></figure>
						<h3 class="location">London</h3>
						<small class="date">8 oct, 8:00AM</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="live-camera">
						<figure class="live-camera-cover"><img src="images/live-camera-5.jpg" alt=""></figure>
						<h3 class="location">New York</h3>
						<small class="date">8 oct, 8:00AM</small>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="live-camera">
						<figure class="live-camera-cover"><img src="images/live-camera-6.jpg" alt=""></figure>
						<h3 class="location">Los Angeles</h3>
						<small class="date">8 oct, 8:00AM</small>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="live-camera">
						<figure class="live-camera-cover"><img src="images/live-camera-7.jpg" alt=""></figure>
						<h3 class="location">Chicago</h3>
						<small class="date">8 oct, 8:00AM</small>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="live-camera">
						<figure class="live-camera-cover"><img src="images/live-camera-8.jpg" alt=""></figure>
						<h3 class="location">London</h3>
						<small class="date">8 oct, 8:00AM</small>
					</div>
				</div>
			</div>
		</div>
	</div>

</main> <!-- .main-content -->
