@model Domain.DTO.Floor.FloorCreateRequest

@{
    ViewData["Title"] = "Create";
}

<h3>Tạo mới</h3>

<a asp-action="Index" class="btn btn-outline-primary mt-3 mb-3">
    Quay lại
</a>

<form asp-action="Create" method="post" class="row mt-3">
    <div class="col-md-6">
        <div class="form-group mb-3">
            <label asp-for="Name" class="control-label1">Tên tầng</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="NumberOfRoom" class="control-label1">Số lượng phòng</label>
            <input asp-for="NumberOfRoom" class="form-control"/>
            <span asp-validation-for="NumberOfRoom" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group mb-3">
            <label asp-for="BuildingId" class="control-label1">Tòa</label>
            <select asp-for="BuildingId" class="form-control" asp-items="@(new SelectList(ViewBag.Buildings, "Id", "Name"))">
                <option hidden>-- Chọn tòa --</option>
            </select>
        </div>
    </div>
    
    <input type="hidden" asp-for="CreatedTime" value="@DateTime.UtcNow"/>
    <button type="submit" class="btn btn-success" style="width:102px">Tạo</button>
    @* <input type="hidden" asp-for="CreatedBy" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" /> *@
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}