@model Domain.Models.VoucherDetail
@{
    Layout = "_AdminLayout";
}
<h1>Edit</h1>

<h4>VoucherDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RoomBookingId" class="control-label"></label>
                <input asp-for="RoomBookingId" class="form-control" />
                <span asp-validation-for="RoomBookingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherId">Voucher</label>
                <select asp-for="VoucherId" class="form-control" asp-items="@(new SelectList(ViewBag.VoucherList, "Id", "Name", Model.VoucherId))">
                    <option value="">-- Select voucher --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" class="form-control" asp-items="@(new SelectList(ViewBag.Statuses, Model.Status))"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ModifiedTime" value="@DateTime.UtcNow" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

