@using Domain.Models
@using View.Views.Shared.Helper
@model Domain.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h3>Thông tin chi tiết</h3>

<div>
    <h4>Bài đăng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Loại bài đăng
        </dt>
        <dd class="col-sm-10">
            @{
                var postTypes = ViewBag.PostTypes as List<SelectListItem>;
                var postType = postTypes?.FirstOrDefault(pt => pt.Value == Model.PostTypeId.ToString());
            }
            @postType?.Text
        </dd>

        <dt class = "col-sm-2">
            Nhân viên
        </dt>
        <dd class = "col-sm-10">
            @{
                var staffs = ViewBag.StaffList as List<Staff>;
                var staff = staffs?.FirstOrDefault(s => s.Id == Model.StaffId);
            }
            @staff?.FirstName @staff?.LastName
        </dd>
        <dt class = "col-sm-2">
            Tiêu đề
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Nội dung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            Trạng thái
        </dt>
        <dd class = "col-sm-10">
            @StatusHelper.DisplayStatusBadge(Model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    <a asp-action="Index" class="btn btn-info">Quay lại</a>
</div>
