* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.container-fluid {
    padding: 0;
    margin: 0;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    height: 100%;
    margin: 0;
}



body {
    margin-bottom: 60px;
    margin: 0;
    height: 100%;
}
.unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    color: black
}

/* .navbar, .navbar-left, .navbar-center, .navbar-right {
    box-sizing: border-box;
    background-color: white !important;
} */
  

/* .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
} */

/* .navbar-left {
    display: flex;
    align-items: center;
    width:30%;
} */

/*    .navbar-left a {
        text-decoration: none; 
        color: black !important;   
    }

        .navbar-left a:hover,
        .navbar-left a:focus,
        .navbar-left a:active {
            text-decoration: none;
            color: inherit; 
            outline: none;
        }

        .navbar-left a:visited {
            color: inherit;
        }


.navbar img {
    margin-right: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 8px;
}*/
/* .navbar-center {
    display: flex;
    justify-content:space-evenly;
    flex-grow: 1;
}

.navbar-center a {
    text-decoration: none;
    color: black;
    font-weight: 500;
} */
.nav-button {
    background-color: inherit; /* Màu nền */
    color: black; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 10px 15px; /* Khoảng cách bên trong */
    text-align: center; /* Căn giữa chữ */
    text-decoration: none; /* Không gạch chân chữ */
    display: inline-block; /* Hiển thị inline */
    font-size: 14px; /* Kích thước chữ */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Con trỏ chuột khi di chuột */
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi */
}

    .nav-button:hover {
        background-color: rgb(239, 165, 188); /* Màu nền khi hover */
    }

    .nav-button:focus {
        outline: none; /* Xóa đường viền khi focus */
    }
.profile-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 5px 5px 12px;
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

    .profile-button:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }

.profile-icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 70px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    min-width: 200px;
    z-index:1100;
}

    .profile-dropdown.show {
        display: block;
    }

    .profile-dropdown a {
        display: block;
        padding: 8px 16px;
        color: #222222;
        text-decoration: none;
    }

        .profile-dropdown a:hover {
            background-color: #e5e5e5;
        }

@media (max-width: 768px) {
    .profile-dropdown {
        min-width: 100%;
        right: 0;
    }
}
.button {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button-outline {
    border: 1px solid #DDDDDD;
    color: #222222;
    background-color: #FFFFFF;
}

    .button-outline:hover {
        border-color: #222222;
    }

.button-primary {
    background-color: #FF385C;
    color: #FFFFFF;
    border: none;
}

    .button-primary:hover {
        background-color: #D70466;
    }
/* Banner */
.banner {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

    .banner::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.01);
    }

    .banner img {
        position: relative;
        z-index: 1;
        max-width: 90%;
        height: auto;
    }
.button {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button-outline {
    border: 1px solid #DDDDDD;
    color: #222222;
    background-color: #FFFFFF;
}

    .button-outline:hover {
        border-color: #222222;
    }

.button-primary {
    background-color: #FF385C;
    color: #FFFFFF;
    border: none;
}

    .button-primary:hover {
        background-color: #D70466;
    }
/* Ô tìm kiếm */
.search-box {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: -1px;
    z-index: 1000;
    margin-bottom:15px;
}

    .search-box input[type="date"],
    .search-box input[type="number"],
    .search-box input[type="text"] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        margin-bottom: 15px; /* Tăng khoảng cách giữa các input */
        box-sizing: border-box;
        transition: border-color 0.3s; /* Thêm hiệu ứng chuyển tiếp cho border */
    }

        .search-box input[type="date"]:focus,
        .search-box input[type="number"]:focus,
        .search-box input[type="text"]:focus {
            border-color: #06D7A0; /* Màu border khi input được chọn */
            outline: none; /* Ẩn outline mặc định */
        }

    .search-box button {
        margin-top: 10px;
        padding: 12px;
        background-color: #f15353;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s; /* Thêm hiệu ứng chuyển tiếp cho transform */
    }

        .search-box button:hover {
            background-color: red;
            transform: scale(1.05); /* Tăng kích thước nút khi hover */
        }

        .search-box button:active {
            transform: scale(0.98); /* Giảm kích thước nút khi nhấn */
        }

#serviceContainer {
    max-height: 200px; /* Chiều cao tối đa cho phần tử */
    overflow-y: auto; /* Thêm thanh cuộn theo chiều dọc */
    border: 1px solid #ccc; /* Viền xung quanh để dễ thấy */
    padding: 10px; /* Đệm bên trong */
    border-radius: 5px; /* Bo góc */
}
/* Các dịch vụ */
.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.service {
    text-align: center;
    width: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

    .service:hover {
        transform: translateY(-5px);
    }

    .service img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
.service-list {
    max-height: 200px;
    overflow-y: auto; 
}


.page-content {
    width: 100%;
    margin: 0 auto;
    background-image: -moz-linear-gradient( 136deg, rgb(254,225,64) 0%, rgb(250,112,154) 100%);
    background-image: -webkit-linear-gradient( 136deg, rgb(254,225,64) 0%, rgb(250,112,154) 100%);
    background-image: -ms-linear-gradient( 136deg, rgb(254,225,64) 0%, rgb(250,112,154) 100%);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
}

.form-v7-content {
    width: 910px;
    margin: 175px 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: flex;
    display: -webkit-flex;
}

    .form-v7-content .form-left {
        position: relative;
        color: #fff;
        font-weight: 400;
        width: 92.5%;
    }

        .form-v7-content .form-left img {
            width: 100%;
        }

        .form-v7-content .form-left .text-1,
        .form-v7-content .form-left .text-2 {
            position: absolute;
            text-align: center;
            width: 100%;
        }

        .form-v7-content .form-left .text-1 {
            font-size: 38px;
            top: 1.5%;
        }

        .form-v7-content .form-left .text-2 {
            font-size: 16px;
            bottom: 11%;
        }

            .form-v7-content .form-left .text-2::after {
                position: absolute;
                content: "";
                background: #fff;
                height: 1px;
                width: 228px;
                bottom: -50%;
                left: 50%;
                transform: translateX(-50%);
                -o-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                opacity: 0.5;
            }

    .form-v7-content .form-detail {
        padding: 73px 80px 41px;
        position: relative;
        width: 100%;
        background: #fff;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    }

        .form-v7-content .form-detail .form-row {
            width: 100%;
            position: relative;
        }

            .form-v7-content .form-detail .form-row label {
                color: #666;
                font-weight: 600;
                font-size: 13px;
                margin-bottom: 3px;
                font-family: 'Open Sans', sans-serif;
            }

                .form-v7-content .form-detail .form-row label#valid {
                    position: absolute;
                    right: 20px;
                    top: 35%;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    -o-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    background: #53c83c;
                }

                    .form-v7-content .form-detail .form-row label#valid::after {
                        content: "";
                        position: absolute;
                        left: 5px;
                        top: 1px;
                        width: 3px;
                        height: 8px;
                        border: 1px solid #fff;
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                .form-v7-content .form-detail .form-row label.error {
                    padding-left: 0;
                    margin-left: 0;
                    display: block;
                    position: absolute;
                    bottom: 5px;
                    width: 100%;
                    background: none;
                    color: red;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                }

                    .form-v7-content .form-detail .form-row label.error::after {
                        content: "\f343";
                        font-family: "LineAwesome";
                        position: absolute;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        right: 10px;
                        top: -25px;
                        color: red;
                        font-size: 18px;
                        font-weight: 900;
                    }

        .form-v7-content .form-detail .input-text {
            margin-bottom: 28px;
        }

        .form-v7-content .form-detail input {
            width: 100%;
            padding: 5px 15px 10px 15px;
            border: 2px solid transparent;
            border-bottom: 2px solid #e5e5e5;
            appearance: unset;
            -moz-appearance: unset;
            -webkit-appearance: unset;
            -o-appearance: unset;
            -ms-appearance: unset;
            outline: none;
            -moz-outline: none;
            -webkit-outline: none;
            -o-outline: none;
            -ms-outline: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 700;
            color: #333;
            box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .form-v7-content .form-detail .form-row input:focus {
            border-bottom: 2px solid #2bb33e;
        }

        .form-v7-content .form-detail .register {
            background: #373be3;
            border-radius: 4px;
            -o-border-radius: 4px;
            -ms-border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            width: 180px;
            border: none;
            margin: -13px 0 50px 0px;
            cursor: pointer;
            font-family: 'Open Sans', sans-serif;
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            float: left;
        }

            .form-v7-content .form-detail .register:hover {
                background: #2a2cb0;
            }

        .form-v7-content .form-detail .form-row-last {
            margin-top: 35px;
        }

            .form-v7-content .form-detail .form-row-last input {
                padding: 15px;
            }

            .form-v7-content .form-detail .form-row-last p {
                font-weight: 600;
                font-size: 14px;
                color: #666;
                margin-left: 200px;
            }

            .form-v7-content .form-detail .form-row-last a {
                font-size: 16px;
                color: #373be3;
                padding-left: 15px;
            }

/* Responsive */
@media screen and (max-width: 991px) {
    .form-v7-content {
        margin: 180px 20px;
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
    }

        .form-v7-content .form-left {
            width: 100%;
            margin-bottom: -5px;
        }

        .form-v7-content .form-detail {
            padding: 50px;
            width: auto;
        }

            .form-v7-content .form-detail .register {
                margin-bottom: 80px;
            }
}

@media screen and (max-width: 1067px) {
}

@media screen and (max-width: 675px) {
    .form-v7-content .form-detail {
        padding: 30px 20px;
        width: auto;
    }

        .form-v7-content .form-detail .register {
            float: none;
            margin-bottom: 10px;
        }

        .form-v7-content .form-detail .form-row-last p {
            margin-left: 0px;
            margin-bottom: 50px;
        }
}

.form-group {
    margin-bottom: 15px; 
}
.alert-custom {
    background-color: #f8d7da; /* Nền màu đỏ nhạt */
    color: #721c24; /* Màu chữ đỏ đậm */
    border: 1px solid #f5c6cb; /* Đường viền màu đỏ */
    border-radius: 5px; /* Bo góc */
    padding: 15px; /* Khoảng cách bên trong */
    margin-bottom: 20px; /* Khoảng cách dưới */
}

/* room */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột dọc */
    grid-gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-top: 10px;
}
    .card:hover {
        transition: transform 0.3s ease;
    }
    h5.card-title.p{
        text-decoration:none;
    }
.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 10px 0 0;
}
.no-border{
    border:none;
}
.img-container {
    width: 80%;
    height: 80%;
    padding-bottom: 80%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

    .img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        border-radius: 15px;
    }

.heart-icon {
    position: absolute;
    color: white;
    font-size: 20px;
    z-index: 1;
    border-radius: 50%;
    padding: 5px;
    transition: color 0.3s, background-color 0.3s;
}

    .heart-icon:hover {
        color: #e44a4a;
        border-color: white;
    }
.carousel-control-prev {
    left: -10px;
}
.carousel-control-next {
    right: 55px;
}
.card p {
    font-weight: bold;
    font-size: 1rem; /* Tăng kích thước chữ */
    color: #333; /* Màu chữ tối hơn để nổi bật hơn */
    border-radius: 3px; /* Bo viền cho nền */
}

    .card p:hover {
        font-weight: bolder;
        color: red;
    }

        .status-badge {
            display: inline-block; /* Đảm bảo phần tử có thể phóng to */
            transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển tiếp */
        }

    .status-badge:hover {
        transform: scale(1.1); 
    }

.card .btn {
    margin: 10px;
}

@media (max-width: 1199px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr); /* 3 cột cho màn hình trung bình */
    }
}

@media (max-width: 991px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cột cho màn hình nhỏ */
    }
}

@media (max-width: 767px) {
    .card-container {
        grid-template-columns: 1fr; /* 1 cột cho màn hình rất nhỏ */
    }
}
h3{
    color: #F78C6A;
    font-weight:bold;
}
h4 {
    margin-bottom: 20px;
}

hr {
    border: 1px solid #0056b3;
    margin: 20px 0;
}

.d-flex {
    display: flex;
    /* Đặt chiều của flex thành cột */
    align-items: flex-start; /* Căn chỉnh các phần tử theo chiều dọc */
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.img-column {
    height: auto;
    max-width: 100%; /* Chiếm toàn bộ chiều rộng */
    margin-bottom: 20px; /* Khoảng cách giữa hình ảnh và thông tin */
}

dt {
    font-weight: bold;
    color: #0056b3;
    margin-bottom: 5px;
}

dd {
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 3px solid #0056b3;
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền */
}

div.info-row:hover {
    background-color: #e7f1ff; /* Màu nền khi hover */
    transform: scaleY(0.85);
}
.room-info{
    padding-left:10px;
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img-container-details {
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    height: 350px; /* Chiều cao cố định cho hình ảnh */
    overflow: hidden;
    margin: 5px 0; /* Khoảng cách giữa các hình ảnh */
}
.info-column {
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    padding: 10px; /* Giữ padding */
    font-size: 14px; /* Kích thước chữ */
    border: 1px solid #ccc; /* Viền cho phần thông tin */
    border-radius: 5px; /* Bo góc */
    background-color: #f9f9f9; /* Màu nền nhẹ */
}
.info-row {
    margin-bottom: 8px; /* Space between rows */
}

dt {
    font-weight: bold; /* Bold for labels */
    margin-bottom: 4px; /* Space below labels */
}

dd {
    margin: 0; /* Remove default margin */
    font-weight:500;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/*.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #004494;
    }*/

.amenities-column {
    margin-top: 20px; /* Khoảng cách giữa ảnh và tiện ích */
}

.amenity-item {
    padding: 5px;
    border: 1px solid #0056b3; /* Đường viền cho tiện ích */
    border-radius: 5px; /* Bo góc */
    background-color: #f8f9fa; /* Màu nền nhẹ */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền */
}

    .amenity-item:hover {
        background-color: #e7f1ff; /* Màu nền khi hover */
        transform: scale(1.1);
    }

    .amenity-item strong {
        color: #0056b3; /* Màu chữ cho tên tiện ích */
    }

/*footer*/
.footer {
    background-color: #1c252c;
    color: white;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Logo Section */
.footer-logo-section {
    flex: 1 1 250px;
    text-align: left;
    gap: 20px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 20px;
}

.footer-certificates img {
    width: 70px;
    margin: 5px;
}

.partner-button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: left; 
}

    .partner-button:hover {
        background-color: #357ab9;
    }

/* Social media */
.social-media-section {
    padding-right: 150px;
    flex: 1 1 250px;
    text-align: right;
}

    .social-media-section h4 {
        margin-bottom: 20px;
    }

.social-media-logos img {
    width: 40px;
    margin: 10px;
}

.social-media-logos a {
    text-decoration: none;
}

/* Links Section */
.footer-links {
    display: flex;
    flex: 2 1 300px;
    justify-content: space-between;
    text-align: left; 
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 13px;
    text-align: left;
}

    .footer-column h4 {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .footer-column a {
        text-decoration: none;
        color: white;
        margin: 0; 
        padding: 0; 
        line-height: 1.6;
        font-size: 14px;
        transition: color 0.3s;
    }

        .footer-column a:hover {
            color: #4a90e2;
        }


/* Mail */
.email-subscription h4 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.email-subscription .form-control {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
}

.email-subscription .btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.toast {
    background-color: #ffffff; 
    border: none; 
    border-radius: 8px; 
    color: #333; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Bóng đổ mềm mại */
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

    .toast.show {
        transform: translateY(0);
        opacity: 1; /* Độ mờ */
    }

    .toast.hide {
        transform: translateY(-10px);
        opacity: 0;
    }

.toast-header {
    background-color: #007bff; 
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; 
    padding: 10px; 
}

.toast-body {
    padding: 10px; 
    font-size: 14px; 
}

/*service*/
a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
    color:inherit;
}

/*bookingHistory*/
.table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px; /* Padding cho bảng */
}

    .table th, .table td {
        padding: 15px; /* Padding cho ô */
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

.pagination {
    display: flex;
    justify-content: center; /* Căn giữa các nút phân trang */
    padding: 10px 0; /* Khoảng cách trên và dưới */
}

    .pagination .page-item {
        margin: 0 5px; /* Khoảng cách giữa các nút */
    }

    .pagination .page-link {
        padding: 10px 15px; /* Padding cho nút */
        border: 1px solid #007bff; /* Viền cho nút */
        border-radius: 5px; /* Bo tròn góc */
        color: #007bff; /* Màu chữ */
        text-decoration: none; /* Bỏ gạch chân */
        transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển tiếp */
    }

        .pagination .page-link:hover {
            background-color: #007bff; /* Màu nền khi hover */
            color: white; /* Màu chữ khi hover */
        }

    .pagination .active .page-link {
        background-color: #007bff; /* Màu nền cho nút đang hoạt động */
        color: white; /* Màu chữ cho nút đang hoạt động */
        border: 1px solid #007bff; /* Viền cho nút đang hoạt động */
    }

    .pagination .disabled .page-link {
        color: #6c757d; /* Màu chữ cho nút không hoạt động */
        pointer-events: none; /* Không cho phép nhấp chuột */
    }

input.form-control:disabled,
input.form-control[readonly] {
    background-color: white !important;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 768px) {
    .info-column {
        margin-top: 20px; /* Thêm khoảng cách cho các thiết bị nhỏ */
    }
}