@using Domain.Enums
@model Domain.DTO.RoomTypeService.RoomTypeServiceResponse

@{
    ViewData["Title"] = "Delete";
}

<h3>Xác nhận xóa</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="ServiceId" class="control-label">Tên dịch vụ</label>
                <select asp-for="ServiceId" class="form-control" disabled>
                    <option value="">-- Chọn dịch vụ --</option>
                    @foreach (var service in ViewBag.ServiceList)
                    {
                        <option value="@service.Id">@service.Name</option>
                    }
                </select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomTypeId" class="control-label">Loại phòng</label>
                <select asp-for="RoomTypeId" class="form-control" disabled>
                    <option value="">-- Chọn loại phòng --</option>
                    @foreach (var roomType in ViewBag.RoomTypes)
                    {
                    <option value="@roomType.Id">@roomType.Name</option>
                    }
                </select>
                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Deleted" class="control-label">Đã xóa</label>
                <input asp-for="Deleted" class="form-control" />
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DeletedTime" class="control-label">Thời gian xóa</label>
                <input asp-for="DeletedTime" class="form-control" />
                <span asp-validation-for="DeletedTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Quay lại</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

