@using Domain.Models;
@{
    var client = (Customer)ViewBag.Client;
}
<style>
    .text-color-blue{
        color: #009ad8;
    }

    .table-scroll {
        overflow-x: scroll;
        scroll-behavior: smooth;
        width:1233px;
    }
</style>
<div class="m-3" style="min-height:600px;">
    <div style="" class="m-2">
        <div id="list_room_add" class="rounded-2 p-2 bg-secondary" style="min-height:300px;">
            <h2 class="text-color-blue">Danh sách phòng</h2>
            <input id="IdRoomBooking" style="display:none" value="@ViewBag.IdRoomBooking" />
            <select class="select2 m-2" id="room_Id" style="width:100%">
            </select>
            <div class="datepicker-wrap mt-3 d-flex justify-content-between" style="width:100%">
                <div style="width:50%" class="m-2">
                    <label for="" style="width:90px;" class="form-label">Ngày nhận : </label>
                    <input id="fromDate" onchange="_roombooking_detail.OnchangeFromDate()" class="form-control" placeholder="Ngày nhận" type="date" name="fromDate">
                </div>
                <div style="width:50%" class="m-2">
                    <label for="" style="width:90px;" class="form-label">Ngày trả : </label>
                    <input id="toDate" onchange="_roombooking_detail.OnchangetoDate()" class="form-control" placeholder="Ngày trả" type="date" name="toDateDate">
                </div>
            </div>
            <div class="table-responsive table-scroll">
                <table class="table table-nowrap table-bordered mt-3 rounded-3">
                    <thead>
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Tên Phòng</th>
                            <th scope="col">Giá phòng (/1 ngày)</th>
                            <th scope="col">Tiền cọc</th>
                            <th scope="col">Ngày nhận dự kiến</th>
                            <th scope="col">Ngày trả dự kiến</th>
                            <th scope="col">Thành tiền</th>
                            <th scope="col">Phụ thu</th>
                            <th scope="col">Ngày nhận thực tế</th>
                            <th scope="col">Ngày trả thực tế</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col" style="width:180px">Action</th>
                        </tr>
                    </thead>
                    <tbody id="room-related">
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-4">
                    <div class="flex justify-content-end w-100">
                        <ul class="w-100 my-3" style="text-decoration:none !important;">
                            <li class="flex list-unstyled justify-content-between mb-2">
                                <div class="text-white">Tổng giá các phòng</div>
                                <div class="text-right d-flex">
                                    <div id="total_roomprice">0</div> VNĐ
                                </div>
                            </li>
                            <li class="flex list-unstyled justify-content-between mb-2">
                                <div class="text-white">Tổng tiền cọc</div>
                                <div class="text-right d-flex" >
                                    <div id="total_deposit">0</div> VNĐ
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="" class="mt-4 p-2 rounded-2 bg-secondary" style="min-height:300px;width:100%">
                <h2 class="text-color-blue">Dịch vụ</h2>
                <div class="d-flex justify-content-end mb-3">
                    <select class="select2 m-2" id="service_type_Id" style="width:100%">
                    </select>
                    <div class="d-flex ms-2">
                        <input type="number" name="minprice" oninput="_Service_OrderDetail.OnchangeMinSer()" id="min_Ser" placeholder="Giá min" min="0" value="" />
                        <input class="ms-2" type="number" oninput="_Service_OrderDetail.OnchangeMaxSer()" id="max_Ser" name="maxprice" min="0" placeholder="Giá max" value="" />
                    </div>
                </div>
                <select class="select2 m-2" id="service_Id" style="width:100%">
                </select>
                <div class="table-responsive table-scroll">
                    <table class="table table-nowrap table-bordered mt-3 rounded-3">
                        <thead>
                            <tr class="text-white">
                                <th scope="col">#</th>
                                <th scope="col">Tên dịch vụ</th>
                                <th scope="col">Giá (VNĐ)</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Đơn vị</th>
                                <th scope="col">Thành tiền</th>
                                <th scope="col">Phụ thu</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Ghi chú</th>
                                <th scope="col" style="width:120px">Action</th>
                            </tr>
                        </thead>
                        <tbody id="service-related">
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-4">
                        <div class="flex justify-content-end w-100">
                            <ul class="w-100 my-3" style="text-decoration:none !important;">
                                <li class="flex list-unstyled justify-content-between mb-2">
                                    <div class="text-white">Tổng giá dịch vụ</div>
                                    <div class="text-right d-flex">
                                        <div id="total_service_price">0</div> VNĐ
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div id="form_add_Cus" class="mt-4 p-2 rounded-2 bg-secondary" style="height:300px;width:100%">
                <h2 class="text-color-blue">Khách hàng</h2>
                <input id="IdClient" style="display:none" value="@ViewBag.IdClient" />
                <select class="select2 m-2" id="Client_Id" style="width:100%">
                    @if (client != null)
                    {
                        <option value="@client.Id">@(client.UserName + "-" + client.Email)</option>
                    }
                </select>
                <div class="m-2 mt-4">
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:90px;" class="form-label">Tên : </label>
                            <input type="text" disabled class="form-control" id="FirstName" placeholder="">
                        </div>
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:80px;" class="form-label">Họ : </label>
                            <input type="text" disabled class="form-control" id="LastName" placeholder="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:90px;" class="form-label">Ngày sinh : </label>
                            <input type="text" disabled class="form-control" id="BirthDay" placeholder="">
                        </div>
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:80px;" class="form-label">giới tính : </label>
                            <input type="text" disabled class="form-control" id="Gender" placeholder="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:90px;" class="form-label">Email :</label>
                            <input type="text" disabled class="form-control" id="Email" placeholder="">
                        </div>
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:80px;" class="form-label">SĐT :</label>
                            <input type="text" disabled class="form-control" id="Phone" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between" style="width:100%">
    <button class="btn btn-secondary" href="/BookingRoom">Quay lại</button>
    <button class="btn btn-success btn-luu" onclick="_roombooking_detail.submit()">Lưu</button>
</div>

@section scripts {
    <script asp-append-version="true" src="~/modules/roombooking_detail.js"></script>
}
