@using Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using View.Views.Shared.Helper
@model Domain.DTO.Paging.ResponseData<Domain.DTO.RoomBooking.RoomBookingResponse>

@{
    ViewData["Title"] = "Index";
}

<div class="m-2">
    <h3>Danh sách Đặt phòng</h3>
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="input-group input-group-sm mb-3">
                <input type="text" id="txtSearch" oninput="_roomBooking.OnInputTxtSearch()" class="form-control" aria-label="Sizing example input" placeholder="Tên khách hàng" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div style="min-width:200px" class="ms-2">
                <select class="select2" id="Staff_Id" onchange="_roomBooking.OnChangeStaff()" style="width:100%">
                </select>
            </div>
            <div class="ms-2" style="width:330px">
                <select name="status" onchange="_roomBooking.OnChangeStatus()" class="form-select p-lg-1" id="status">
                    <option value="">Chọn trạng thái</option>
                    @foreach (var status in Enum.GetValues(typeof(RoomBookingStatus)))
                    {
                        var statusEnum = (RoomBookingStatus)status;
                        <option value="@((int)statusEnum)" selected="@(Context.Request.Query["status"].ToString() == ((int)status).ToString())">
                            @StatusHelper.DisplayRoomBookingStatusBadge(statusEnum)
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a onclick="_roomBooking.RedirecDetail()">
                <button class="btn btn-outline-success">
                    Đặt Phòng +
                </button>
            </a>
        </div>
    </div>
    <div id="ListRoomBooking" class="">
        <div class="d-flex justify-content-center pt-5">
            <div id="loading-spinner" style="width: 5rem; height: 5rem;" class="spinner-border text-success pt-5" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script asp-append-version="true" src="/modules/roombooking.js"></script>
}