@using Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using View.Views.Shared.Helper
@model Domain.DTO.Paging.ResponseData<Domain.DTO.RoomBooking.RoomBookingResponse>

@{
    ViewData["Title"] = "Index";
}

<style>
    .form-check-input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .form-check-inline { /* Kiểu dáng mặc định cho div cha */
        cursor: pointer;
        padding: 5px 10px;
        margin-right: 5px;
        transition: all 0.3s ease; /* Thêm hiệu ứng chuyển động mượt mà */
    }

    .form-check-input:checked ~ .form-check-inline { /* Chọn tất cả các anh em liền kề */
        border-color: transparent; /* Loại bỏ border khi được chọn */
        text-decoration: underline;
    }

    .form-check-input:checked + .form-check-label {
        color: #198754; /* Màu chữ khi được chọn */
        font-weight: bold;
        text-decoration: underline;
    }
</style>

<div class="m-2">
    <h3>Danh sách Đặt phòng</h3>
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="input-group input-group-sm mb-3">
                <input type="text" id="txtSearch" oninput="_roomBooking.OnInputTxtSearch()" class="form-control" aria-label="Sizing example input" placeholder="Tên khách hàng" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div style="min-width:200px" class="ms-2">
                <select class="select2" id="Staff_Id" onchange="_roomBooking.OnChangeStaff()" style="width:100%">
                </select>
            </div>
            <div class="ms-2" style="width:330px">
                <select name="status" onchange="_roomBooking.OnChangeStatus()" class="form-select p-lg-1" id="status">
                    <option value="">Chọn trạng thái</option>
                    @foreach (var status in Enum.GetValues(typeof(RoomBookingStatus)))
                    {
                        var statusEnum = (RoomBookingStatus)status;
                        <option value="@((int)statusEnum)" selected="@(Context.Request.Query["status"].ToString() == ((int)status).ToString())">
                            @StatusHelper.DisplayRoomBookingStatusBadge(statusEnum)
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a onclick="_roomBooking.RedirecDetail()">
                <button class="btn btn-outline-success">
                    Đặt Phòng +
                </button>
            </a>
        </div>
    </div>
    <div class="d-flex">
        <div class="form-check form-check-inline">
            <input class="form-check-input" style="display:none" type="radio" onchange="_roomBooking.handleRadioChange(this.value)" checked name="inlineRadioOptions" id="inlineRadio1" value="1">
            <label class="form-check-label" for="inlineRadio1">Tất cả</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" style="display:none" type="radio" onchange="_roomBooking.handleRadioChange(this.value)" name="inlineRadioOptions" id="inlineRadio2" value="2">
            <label class="form-check-label" for="inlineRadio2">Nhận phòng hôm nay</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" style="display:none" type="radio" onchange="_roomBooking.handleRadioChange(this.value)" name="inlineRadioOptions" id="inlineRadio3" value="3">
            <label class="form-check-label" for="inlineRadio3">Trả phòng hôm nay</label>
        </div>
    </div>
    <div id="ListRoomBooking" class="">
        <div class="d-flex justify-content-center pt-5">
            <div id="loading-spinner" style="width: 5rem; height: 5rem;" class="spinner-border text-success pt-5" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script asp-append-version="true" src="/modules/roombooking.js"></script>
}