@using Domain.Enums
@using View.Views.Shared.Helper
@model Domain.Models.ServiceType

<h2>Chỉnh sửa</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name">Tên</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Mô tả</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status">Trạng thái</label>
        <select name="status" class="form-select" id="status">
            <option disabled>-- Chọn trạng thái --</option>
            @foreach (var status in Enum.GetValues(typeof(EntityStatus)))
            {
                var statusEnum = (EntityStatus)status;
                <option value="@((int)statusEnum)" selected="@(Context.Request.Query["status"].ToString() == ((int)status).ToString())">
                    @StatusHelper.DisplayNameEntityStatus(statusEnum)
                </option>
            }
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="ModifiedTime" value="@DateTime.UtcNow" />


    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
